html{
	background-color: #006400;
	font-size: 10px;
	font-family: 'Indie Flower', cursive;
}

body {
	background: url('../images/abstract.png');
	background-repeat: no-repeat;
	background-size: 100% 150%;
	width:80%;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	border: 5px solid black; 
}

h1{
	margin:0 auto;
	padding:20px 0;
	font-size: 60px;
	text-align: center;
	text-shadow: 3px 3px 8px black;
}

p, li, a{
	font-size: 25px;
}

p, h1, li, a{
	margin:0 auto;
	color: #D2B4DE;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	line-height: 4;
	letter-spacing: 1px;
	/*text-align: center;*/
	align-content: center;

}

img {
  display: block;
  margin: 0 auto;
}



